.admin-panel{
    display: flex;
    width: 100vw;
    margin-inline: auto;
    overflow: hidden;
    height: calc(100vh - 146px);
}

.admin-panel-column{
    position: relative;
    display: block;
    text-decoration: none;
    width: 0;
    flex-grow: 1;
    display: grid;
    place-content: center;
    transition: box-shadow .1s ease;
    -webkit-transition: box-shadow .1s ease;
    -moz-transition: box-shadow .1s ease;
    -ms-transition: box-shadow .1s ease;
    -o-transition: box-shadow .1s ease;
    z-index: 2;
}

.admin-panel-column::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .8);
}

.admin-panel-column.categoria{
    /* background: #2f3e46; */
    background: url('../../img/admin/categorias.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.admin-panel-column.editorial{
    /* background: #354f52; */
    background: url('../../img/admin/editorial.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.admin-panel-column.libro{
    /* background: #52796f; */
    background: url('../../img/admin/libro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.admin-panel-column.usuario{
    /* background: #84a98c; */
    background: url('../../img/admin/usuarios.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.admin-panel-column.pedido{
    /* background: #cad2c5; */
    background: url('../../img/admin/pedidos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.admin-panel-column__title{
    color: var(--color-white);
    font-size: 37px;
    font-weight: 400;
    text-shadow: 0 0 10px #000;
    z-index: 1;
}

.admin-panel-column:hover.admin-panel-column::after{
    box-shadow: inset 0 0 30px 5px rgba(255, 255, 255, .5);
}