*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: var(--color-secondary) var(--color-white);
}

:root {
    /* ui */
    --color-primary: #5744d8;
    --color-secondary: #FF8223;
    --color-text: #3c3c3c;
    --color-white: #fff;
    --color-glass: rgba(226, 226, 226, 0.1);


    /* user feedback */
    --color-failed: #cc1c1c;
    --color-success: #66c459;

    /* fonts */
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Caveat", cursive;
}

.body {
    position: relative;
    background: var(--color-white);
    /* background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .4)), url('../img/page/bg.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font-primary);
}

.body::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
}